.imgExplications
{
    display:inline-block;
    position: relative;
    margin: 2% 4% 2% auto;
    padding: 2%;
    height: 48vh;
    width: 70vh;
    box-shadow: 0 0 16px grey;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.8);
    float: right; 
}

#firstStep
{
    display: inline-block;
    margin: 2% auto 2% 4%;
    padding: 2%;
    height: 48vh;
    width: 70vh;
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 0 16px grey;
    border-radius: 5px;
    float: left;
}

input
{
    display: inline-block;
    font-size: 2vh;
    border-radius: 1vh;
    height: auto;
    width: 30vh;
    background-color: rgba(128,128,128,0.3);
    border: none;
    margin: 1vh 2vh 1vh 2vh;
    padding: 2vh;
}

#validateur
{
    display: block;
    position: relative;
    color: white;
    background-color: brown;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1040px)
{
    .imgExplications
    {
        margin: 2% 1.5% 2% auto;
    }
    
    #firststep
    {
        margin: 2% auto 2% 1.5%;
    }
}

@media screen and (max-width: 950px)
{
    .imgExplications
    {
        position: relative;
        display: block;
        float: none;
        margin: 2% auto 2% auto;
    }
    
    #firststep
    {
        position: relative;
        display: block;
        float: none;
        margin: 2% auto 2% auto;
    }
}