<head>
    <title>Mon copain le satellite</title>
    <meta charset="utf-8"></meta>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?signed_in=true"></script>
    <link rel="stylesheet" type="text/css" href="css/general.css"/>
    <link rel="stylesheet" type="text/css" href="css/formulaire.css"/>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/formular.js"></script>
    <script src="js/connect.js"></script>
    <script src="js/upload.js"></script>
</head>
<body onload="hideElements()">
    <header class="enTete">
        <h1>Vos couverts végétaux</h1>
    </header>
    <!-- Retirage du logo demandé par Alexanda, Charlotte et Valentin #cestpasmoi
    <img class="imgLogo" src="images/logo.png"/>
    -->
    <img id="explainImages" class="imgExplications" src="images/explications.jpg"/>

    <div id="firstStep">
        <h2>INSCRIVEZ-VOUS</h2>
      <p>
        <input type="text" placeholder="Nom" id="name" />
        <input type="text" placeholder="Prénom" id="firstname" />
      </p>
      <p>
        <input type="tel" pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$" placeholder="Numéro de Téléphone" id="phone" />
        <input type="email" placeholder="Adresse Email" id="mail" />
      </p>
      <p>
        <input type="text" placeholder="Rue" id="adress" />
        <input type="text" placeholder="Code Postal" id="postalCode" />
      </p>
      <p>
        <input type="text" placeholder="Ville" id="city" />
      </p>
      <p>
        <input type="button" value="Suivant" onclick="goSecondStep()" id="validateur"/>
      </p>
    </div>

    <div id="secondStep">
      <div id="secondStepMap">
      </div>
      <div id="secondStepText">
        <h3>
          Cliquez sur la carte pour disposer deux balises, de manière à ce que vos parcelles se trouvent dans un rectangle.
        </h3>
      </div>
    </div>

    <div id="thirdStep">
      <h2>INFORMATIONS GENERALES SUR VOS PARCELLES</h2>
    </br>
      <p>
        <input type="text" placeholder="Nombre d'hectares total" id="nbH2" />
      </p>
      <p>
        <input type="text" placeholder="Nombre de parcelles" id="nbParc" />
      </p>
        <div id="checkboxesZones">
          <p>
            <input id="zoneVulnerableIn" type="checkbox"/>
            <label for="zoneVulnerableIn">Zones Vulnérables</label>
          </p>
          <p>
              <input id="zoneProtegeeIn" type="checkbox"/>
              <label for="zoneProtegeeIn">Zones Protégées</label>
          </p>
          <p>
              <input id="natura2000In" type="checkbox"/>
              <label for="natura2000In">Natura 2000</label>
          </p>
        </div>
        <p>
          Déclaration PAC: <input id="pac" type="file" name="uploads[]">
        </p>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <p>
          <input type="button" value="Suivant" onclick="goFourthStep()" id="validateur"/>
        </p>
    </div>

    <div id="fourthStep">
      <p>
        Documents concernants la parcelle : <input id="docsParc" type="file" name="uploads[]" multiple>
      </p>
      <p>
        <input type="button" value="Suivant" onclick="goFourthStep()" id="validateur"/>
      </p>
      <p>
        <input type="button" value="Suivant" onclick="goFourthStep()" id="validateur"/>
      </p>
    </div>
</body>
